<div class="marketing">
	<div class="row">
		<div class="col-md-6 text-center" ng-repeat="message in vm.messages">
			<section>
				<div class="{{message.class}}">
					<h3>{{message.title}}</h3>
					<ul>
						<li ng-repeat="item in message.items">{{item}}</li>
					</ul>
				</div>
			</section>
		</div>
	</div>
</div>
