.footer {
	background-color: $bg-dark-gray;
	padding-top: 5px;
	margin-top: 3px;
	@media (min-width: $screen-sm-min) {
		height: 30px;
		.left-nav {
			float: left;
		}
		.right-nav {
			float: right;
		}
	}
	
	border: black 1px solid;
	@include border-bottom-radius(5px);
	a {
		color: $text-light-gray;
		font-family: $footer-font;
		font-size: 12px;
	}
}