<div class="footer">

	<div class="container">

		<div class="row">

			<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
				<nav role="navigation" class="left-nav">
					<ul class="list-inline" role="group">
					<li><a href="#">About</a></li>
					<li><a href="#">Responsible Gaming</a></li>
					<li><a href="#">Privacy Policy</a></li>
				</ul>
				</nav>
			</div>

			<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
				<nav role="navigation" class="right-nav">
					<ul class="list-inline" role="group">
					<li><a href="#">Affiliate Program</a></li>
					<li><a href="#">International Sites</a></li>
				</ul>
				</nav>
			</div>

		</div>

	</div>