<div class="channels">
	<div class="clearfix">
		<div class="col-xs-12 col-md-4">
			<a class="channel poker-channel first" ui-sref="app.poker" role="link" aria-label="poker">
				
			</a>
		</div>
		<div class="col-xs-12 col-md-4">
			<a class="channel casino-channel" ui-sref="app.casino" role="link" aria-label="casino">
				
			</a>
		</div>
		<div class="col-xs-12 col-md-4">
			<a class="channel sports-channel last" ui-sref="app.sports" role="link" aria-label="sports">
				
			</a>
		</div>
	</div>
</div>