.channels {
	padding-top: 6px;
	padding-bottom: 20px;
	background-color: black;
	.clearfix {
		border-bottom: 1px solid $gray-line;
		padding-bottom: 18px;
	}
	.channel {
		height: 118px;
		width: 236px;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 20px;
		@media (min-width: $screen-sm-min) {
			margin-bottom: 0px;
			&.first {
				margin-left: 16px;
			}
			&.last {
				margin-right: 17px;
			}
		}
		display: block;
		cursor: pointer;
		background-size: cover;

		@include opacity(0.9);
		@include transition-property(opacity);
		@include transition-duration(.2s);
		@include transition-timing-function(ease-in);
		&:hover {
			@include opacity(1);
		}
		&.poker-channel {
			background: url('../images/sprites.png') -10px -650px no-repeat;
			&:hover {
				background: url('../images/sprites.png') -10px -266px no-repeat;
			}
		}
		&.casino-channel {
			background: url('../images/sprites.png') -10px -522px no-repeat;
			&:hover {
				background: url('../images/sprites.png') -10px -138px no-repeat;
			}
		}
		&.sports-channel {
			background: url('../images/sprites.png') -10px -394px no-repeat;
			&:hover {
				background: url('../images/sprites.png') -10px -10px no-repeat;
			}
		}
	}
}